"key mappings
noremap q 1G
vnoremap q 1G
noremap w G
vnoremap w G
noremap n o
noremap c diw
noremap e 10h
noremap r 10l
vnoremap e 10h
vnoremap r 10l 
vnoremap y "+y
vnoremap p "+p
noremap <S-Up> gk8
noremap <S-Down> gj8
vnoremap <S-Up> gk8
vnoremap <S-Down> gj8
nnoremap z a
vnoremap z i
nnoremap c i//
nnoremap <Space> G
xnoremap <Space> G


